[submodule "platform/grafana/grafana-kafka-datasource"]
	path = platform/grafana/grafana-kafka-datasource
	url = git@github.com:blabtm/grafana-kafka-datasource
	branch = trunk
[submodule "platform/mq"]
	path = platform/mq
	url = git@github.com:blabtm/mq.git
	branch = trunk
[submodule "native/em-es.cpp/app"]
	path = native/em-es.cpp/app
	url = git@github.com:blabtm/v2k.em-es.app.git
	branch = trunk
[submodule "py/sol.mf/app"]
	path = py/sol.mf/app
	url = git@github.com:blabtm/v2k.sol.mf.app.git
	branch = trunk
[submodule "native/extern/vcpkg"]
	path = native/extern/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "config"]
	path = config
	url = git@github.com:blabtm/v2k.config.git
	branch = trunk
[submodule "native/extern/libsr"]
	path = native/extern/libsr
	url = https://github.com/confluentinc/libschemaregistry.git
[submodule ".devcontainer/features"]
	path = .devcontainer/features
	url = git@github.com:blabtm/features.git
	branch = trunk
[submodule "wiki/paper"]
	path = wiki/paper
	url = git@github.com:blabtm/v2k.paper.git
