[submodule "platform/grafana/grafana-kafka-datasource"]
	path = platform/grafana/grafana-kafka-datasource
	url = git@github.com:blabtm/grafana-kafka-datasource
[submodule "platform/mq"]
	path = platform/mq
	url = git@github.com:blabtm/mq.git
[submodule "native/em-es.cpp/app"]
	path = native/em-es.cpp/app
	url = git@github.com:blabtm/v2k.em-es.app.git
[submodule "py/solenoid/app"]
	path = py/solenoid/app
	url = git@github.com:blabtm/v2k.solenoid.app.git
[submodule "native/extern/vcpkg"]
	path = native/extern/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "wiki"]
	path = docs
	url = https://github.com/blabtm/v2k.wiki.git
[submodule "config"]
	path = config
	url = git@github.com:blabtm/v2k.config.git
