[submodule "kit/.devcontainer/features"]
	path = kit/.devcontainer/features
	url = git@github.com:blabtm/features.git
[submodule "kit/src/mq"]
	path = kit/src/mq
	url = git@github.com:blabtm/mq.git
[submodule "src/native/extern/protobuf"]
	path = src/native/extern/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "src/native/extern/zlog"]
	path = src/native/extern/zlog
	url = https://github.com/HardySimpson/zlog.git
[submodule "src/native/extern/gtest"]
	path = src/native/extern/gtest
	url = https://github.com/google/googletest.git
[submodule "src/native/zig-cmake-toolchains"]
	path = src/native/zig-cmake-toolchains
	url = https://github.com/starofrainnight/zig-cmake-toolchains.git
[submodule "src/native/extern/protobuf-c"]
	path = src/native/extern/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c.git
